<launch>
  <arg name="use_ssd" default="true" />
  <arg name="use_tabletop" default="true" />
  <arg name="use_aggregator" default="true" />

  <include file="$(find jsk_2017_home_butler)/launch/ssd.launch"
           if="$(arg use_ssd)" />

  <include file="$(find jsk_2017_home_butler)/launch/tabletop.launch"
           if="$(arg use_tabletop)" />

  <include file="$(find jsk_2017_home_butler)/launch/aggregator.launch"
           if="$(arg use_aggregator)" />
</launch>
