<launch>

  <node name="audio_capture" pkg="audio_capture" type="audio_capture">
    <rosparam>
      format: wave
      channels: 1
      depth: 16
      sample_rate: 16000
    </rosparam>
  </node>

  <node pkg="sound_play" type="soundplay_node.py" name="sound_play">
    <remap from="sound_play" to="robotsound"/>
    <env name="PATH" value="$(find ros_gtts)/bin:$(env PATH)" />
  </node>

  <node name="text_to_speech" pkg="ros_gtts" type="ros_gtts_node.py" />

  <node name="speech_recognition"
        pkg="ros_speech_recognition" type="speech_recognition_node.py">
    <remap from="sound_play" to="robotsound" />
    <rosparam>
      engine: Google
      language: en-US
    </rosparam>
  </node>
</launch>
