<launch>
  <arg name="sensor_frame_id" default="head_mount_kinect_rgb_optical_frame" />

  <arg name="machine" default="external" />

  <include file="$(find detect_cans_in_fridge_201202)/pr2.machine" />

  <group ns="aggregator">
    <node name="aggregator"
          pkg="detect_cans_in_fridge_201202" type="annotation_aggregator.py"
          output="screen" machine="$(arg machine)">
      <remap from="~input/pose/class" to="/ssd/ssd_object_detector/output/class" />
      <remap from="~input/pose/pose" to="/ssd/bounding_box_pose/output" />
      <remap from="~input/box/class" to="/tabletop/classifiers/output" />
      <remap from="~input/box/box" to="/tabletop/euclidean_clustering_decomposer/boxes"/>
      <rosparam subst_value="true">
        approximate_sync: true
        queue_size: 30
        slop: 0.1
        cache_duration: 10.0
        fixed_frame: $(arg sensor_frame_id)
        pose_tolerance: 0.06
      </rosparam>
    </node>
    <node name="aggregator_vis"
          pkg="jsk_rviz_plugins" type="classification_result_visualizer.py"
          machine="$(arg machine)">
      <remap from="~input/boxes" to="aggregator/output/boxes" />
      <remap from="~input/classes" to="aggregator/output/class" />
      <rosparam>
        text_color_red: 1.0
        text_color_green: 0.0
        text_color_blue: 0.0
        text_offset_y: -0.12
        text_size: 0.05
      </rosparam>
    </node>
  </group>
</launch>
