<launch>
  <!-- outlet detector -->
  <group ns="narrow_stereo/left">
    <param name="single" value="1" />
    <param name="display" value="0" />
    <param name="rect0_size_x" value="0.027" />
    <param name="rect0_size_y" value="0.027" />
    <param name="grid0_size_x" value="6" />
    <param name="grid0_size_y" value="5" />
    <param name="type0" value="outlet" />
    <param name="translation0" value="-0.390 -0.022 -0.011" />
    <param name="rotation0" value="0.0" />
    <node name="outlet_detector"
          pkg="checkerboard_detector" type="checkerboard_detector">
      <remap from="image" to="image_rect_color" />
    </node>
  </group>
</launch>
